<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/js/dojo/resources/dojo.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/js/dojo/resources/dnd.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/js/dijit/themes/tundra/tundra.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/js/dojo/dojo.js"></script>
    <script type="text/javascript" src="/js/app/taskboard.js"></script>
    <title>pekan</title>
</head>
<body class="tundra">
    <div id="header">
        <div class="title">
          <span>pekan</span>
        </div>
        <div id="menu">
            <div id="add-task" class="menu-item">
                <span>Add task</span>
            </div>
            <div id="archive-task" class="menu-item">
                <span>Archive tasks</span>
            </div>
            <div id="admin" class="menu-item">
                <span>Administration</span>
            </div>
        </div>
    </div>
    <div id="container">
    </div>
</body>
</html>